<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="GStandard" type="Informedica.GenImport.GStandard.Configuration.GStandardConfigurationSection, Informedica.GenImport.GStandard" />
    </configSections>
    <GStandard databaseFolder="C:\tmp\062012">
        <commercialProductFile filename="BST031T" />
        <compostionFile filename="BST731T" />
        <nameFile filename="BST020T" />
        <productFile filename="BST004T" />
    </GStandard>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.3.0.733" newVersion="1.3.0.733"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>