<?xml version="1.0" encoding="utf-8" ?>
<StructureMap>
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializerBase`1[[Informedica.GenImport.Library.DomainModel.Interfaces.IArtikel, Informedica.GenImport.Library]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.DataAccess.GStandard.ArtikelenFileSerializer, Informedica.GenImport.DataAccess" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializerBase`1[[Informedica.GenImport.Library.DomainModel.Interfaces.INaam, Informedica.GenImport.Library]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.DataAccess.GStandard.NamenFileSerializer, Informedica.GenImport.DataAccess" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializerBase`1[[Informedica.GenImport.Library.DomainModel.Interfaces.IThesauriTotaal, Informedica.GenImport.Library]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.DataAccess.GStandard.ThesauriTotaalFileSerializer, Informedica.GenImport.DataAccess" />
</StructureMap>