<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="GStandard" type="Informedica.GenImport.GStandard.Configuration.GStandardConfigurationSection, Informedica.GenImport.GStandard"/>
    </configSections>
    <GStandard databaseFolder="C:\tmp\062012">
        <commercialProductFile filename="BST031T"/>
        <compostionFile filename="BST731T"/>
        <genericCompostionFile filename="BST715T"/>
        <genericNameFile filename="BST750T"/>
        <genericProductFile filename="BST711T"/>
        <nameFile filename="BST020T"/>
        <prescriptionProductFile filename="BST050T"/>
        <productFile filename="BST004T"/>
        <relationBetweenNameFile filename="BST025T"/>
        <thesauriTotalFile filename="BST902T"/>
    </GStandard>
    <connectionStrings>
        <!-- <add name="GStandardDbConnectionString" connectionString="Data Source=|DataDirectory|\GStandard.db" providerName="System.Data.SQLite" /> -->
        <add name="GStandardDbConnectionString" connectionString="Data Source=c:\tmp\rick.db" providerName="System.Data.SQLite"/>
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
