<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="GStandard" type="Informedica.GenImport.GStandard.Configuration.GStandardConfigurationSection, Informedica.GenImport.GStandard" />
    </configSections>
    <GStandard databaseFolder="C:\tmp\062012">
        <commercialProductFile filename="BST031T" />
        <compostionFile filename="BST731T" />
        <genericCompostionFile filename="BST715T" />
        <genericNameFile filename="BST750T" />
        <genericProductFile filename="BST711T" />
        <nameFile filename="BST020T" />
        <prescriptionProductFile filename="BST050T" />
        <productFile filename="BST004T" />
        <relationBetweenNameFile filename="BST025T" />
        <thesauriTotalFile filename="BST902T" />
    </GStandard>
    <connectionStrings>
        <!-- <add name="GStandardDbConnectionString" connectionString="Data Source=|DataDirectory|\GStandard.db" providerName="System.Data.SQLite" /> -->
        <add name="GStandardDbConnectionString" connectionString="Data Source=c:\tmp\rick.db" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>