<?xml version="1.0" encoding="utf-8" ?>
<StructureMap>

    <!-- File Serialization -->
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.ICommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.CommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Composition, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.GenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.GenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.GenericProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Name, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IPrescriptionProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.PrescriptionProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Product, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IRelationBetweenName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.RelationBetweenName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Serialization.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Serialization.GStandardFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.ThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    
    <!-- Repositories -->
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.ICommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.ICommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IPrescriptionProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IPrescriptionProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IRelationBetweenName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IRelationBetweenName, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.GStandard.Repositories.IRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard"
        PluggedType="Informedica.GenImport.GStandard.Repositories.NHibernateRepository`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.GStandard" />
    
    <!-- Import Services -->
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService, Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GStandardImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.ICommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.CommercialProductImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.CompositionImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GenericCompositionImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GenericNameImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GenericProductImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.NameImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IPrescriptionProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.PrescriptionProductImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.ThesauriTotalImportService, Informedica.GenImport.GStandard" />
</StructureMap>