<?xml version="1.0" encoding="utf-8" ?>
<StructureMap>

    <!-- Files -->
    <!--
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.ICommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.CommercialFileSerializer, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.CompositionFileSerializer, Informedica.GenImport.GStandard" />
    -->
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.GenericCompositionFileSerializer, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.GenericNameFileSerializer, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IName, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.NameFileSerializer, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.ProductFileSerializer, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IRelationBetweenName, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.RelationBetweenNameFileSerializer, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.DataAccess.IFileSerializer`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.GStandard.Files.ThesauriTotalFileSerializer, Informedica.GenImport.GStandard" />
    
    <!-- Repositories -->
    <DefaultInstance
        PluginType="Informedica.EntityRepository.IRepository`1[[Informedica.GenImport.Library.DomainModel.Interfaces.IThesauriTotaal, Informedica.GenImport.Library]], Informedica.GenImport.DataAccess"
        PluggedType="Informedica.GenImport.DataAccess.GStandard.ThesauriTotaalFileSerializer, Informedica.GenImport.DataAccess" />
    
    <!-- Services -->
    
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService, Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GStandardImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.ICommercialProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.CommercialProductImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.CompositionImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericComposition, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GenericCompositionImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GenericNameImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IGenericProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.GenericProductImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IName, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.NameImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IPrescriptionProduct, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.PrescriptionProductImportService, Informedica.GenImport.GStandard" />
    <DefaultInstance
        PluginType="Informedica.GenImport.Library.Services.IImportService`1[[Informedica.GenImport.GStandard.DomainModel.Interfaces.IThesauriTotal, Informedica.GenImport.GStandard]], Informedica.GenImport.Library"
        PluggedType="Informedica.GenImport.GStandard.Services.ThesauriTotalImportService, Informedica.GenImport.GStandard" />
</StructureMap>